.gallery-section {
    padding-bottom: 105px;
}

@media (max-width: 991px) {
    .gallery-section {
        padding-bottom: 85px;
    }
}

@media (max-width: 767px) {
    .gallery-section {
        padding-bottom: 75px;
    }
}

.gallery-section .gallery-container {
    margin: 0 -7.5px;
}

.gallery-section .gallery-container .grid {
    width: 33.33%;
    float: left;
    padding: 0 7.5px 15px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .gallery-section .gallery-container .grid {
        padding: 0 5px 10px;
    }
}

@media (max-width: 600px) {
    .gallery-section .gallery-container .grid {
        width: 50%;
    }
}

.gallery-section .gallery-container .grid a {
    display: block;
    z-index: 10;
}

.gallery-section .video-play-btn {
    position: relative;
    display: block;
}

.img-responsive   {
    display: block;
    max-width: 100%;
    height: auto;
}

.img {
    vertical-align: middle;
    border: 0;
}

.couple-pic img {
    width: 80%;
    height: auto;
}